* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100dvh;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

.main {
  height: max-content;
}
